@import "./variables";

header {
  height: 100px;
  background-image: url("../imgs/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom: $cara;
}

@media screen and (max-width: 600px) {
  header {
    height: 80px;
  }
}

@media screen and (max-width: 475px) {
  header {
    width: $width2;
    height: 60px;
    background-position: center;
  }
}
