$a: 100px;
$width: 600px;
$width1: 500px; // prvni zuženi med q
$width11: 400px; // jen pro footer v prvnim zužení
$width2: 300px; // druhe zuženi med q
$back: #fff;
$cara: rgb(161, 161, 161) solid 3px;
$cara2: rgb(161, 161, 161) solid 1px;
